@model CodeFirst_13Bang.Models.ChucVu

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa chức vụ</h1>

<h3>Bạn có chắc muốn xóa chức vụ này không?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Id chức vụ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
           Mã chức vụ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ma)
        </dd>
        <dt class = "col-sm-2">
           Tên chức vụ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Quay lại danh sách</a>
    </form>
</div>
