@model CodeFirst_13Bang.Models.NSX

@{
    ViewData["Title"] = "Chitiet";
}

<h1>Chi tiết nhà sản xuất</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
           Mã
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ma)
        </dd>
        <dt class = "col-sm-2">
           Tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Sửa", "Update", new { Model.Id },new {@class="btn btn-primary" }) |
    <a asp-action="Index" class="btn btn-warning">Quay lại danh sách</a>
</div>
